<% columns = [{:type => 'html', :class => "first"}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => nil, :class => "last"}] %>
<%= datatable(columns, {:sort_by => "[0, 'desc']", :processing => image_tag("spinner.gif") }) %>

<h1>Listing restaurants</h1>

<table class = "datatable display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Street</th>
      <th>Suburb</th>
      <th>Phone</th>
      <th>Offer</th>
      <th>Up to</th>
      <th>Page num</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>
  <tbody>
<% for restaurant in @restaurants %>
  <tr title = "<%=h restaurant.name %>">
    <td><%=h restaurant.name %></td>
    <td><%=h restaurant.cuisine.name %></td>
    <td><%=h restaurant.street %></td>
    <td><%=h restaurant.suburb %></td>
    <td><%=h restaurant.phone %></td>
    <td><%=h restaurant.offer %></td>
    <td><%=h restaurant.up_to %></td>
    <td><%=h restaurant.page_num %></td>
    <td><%= link_to 'Show', restaurant %></td>
    <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
    <td><%= link_to 'Destroy', restaurant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New restaurant', new_restaurant_path %>
