<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Restaurants: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'demo_table' %>
  <%= stylesheet_link_tag 'fancybox/jquery.fancybox-1.3.1.css' %>
  <%= javascript_include_tag "jquery-1.4.2","application" %>
  <%= javascript_include_tag "jquery.dataTables" %>
  <%= javascript_include_tag "fancybox/jquery.fancybox-1.3.1.pack.js" %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
